.navbar {
  background-color: hwb(0 95% 4%);
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar .logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: rgb(0, 0, 0);
}

.navbar a {

  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 20px;
}
.bth{
  float: left;
  background-color: #4CAF50; /* Green */
  color: white;

}
